$green: #2DBE60;
$dark-green: #28A955;

$pink: #FFD1D1;
$light-red: #E3A096;
$red: #D91717;
$dark-red: #B92219;

$white: #FFFFFF;
$background: #F3F3F3;
$even-lighter: #E5E5E5;
$lightest-grey: #D0D0D0;
$light-grey: #B1B1B1;
$medium-grey: #858585;
$dark-grey: #747474;
$darkest-grey: #3D3D3D;
