.note-index {
  width: 350px;
  height: 100%;
  position: fixed;
  margin-left: 76px;
  border-right: 1px $lightest-grey solid;
}

.note-index-header {
  font-family: $sans-serif;
  background-color: $white;
}

.note-index-header h3 {
  margin: 0;
  padding: 23px 23px 15px 23px;
  color: $medium-grey;
  font-size: 21px;
}

.note-index-header p {
  padding: 10px 23px;
  color: $light-grey;
  font-size: 14px;
}

.note-index-scroll {
  overflow-y: auto;
  height: 80%;
  border-top: 1px $lightest-grey solid;
}

.note-index-item {
  background-color: $white;
  position: relative;
  height: 120px;
}

.note-index-item:first-child {
  border-top: 2px $background solid;
}

.note-index-text {
  display: flex;
  flex-direction: column;
  padding: 20px 2px;
  margin: 0 23px;
  border-bottom: 1px $even-lighter solid;
  height: 79px;
}

.note-index-text h5 {
  margin: 0;
  font-family: $serif;
  font-size: 20px;
  color: $darkest-grey;
}

.note-index-text p {
  font-family: $sans-serif;
  font-size: 13px;
  color: $light-grey;
}

.note-index-tools {
  position: absolute;
  right: 0;
  color: $white;
  padding: 7px 10px;
}

.note-index-tools i {
  padding: 7px;
}

.note-index-item:hover {
  background-color: $green;
  cursor: pointer;
}

.note-index-item:hover h5 {
  color: $white;
}

.note-index-item:hover p {
  color: $white;
}

.note-index-item:hover div {
  border-color: $green;
}
