.tag-index-scroll {
  border-top: 1px solid $even-lighter;
  position: fixed;
  top: 146px;
  width: 455px;
  height: 70%;
  overflow-y: auto;
  padding-top: 20px;
}

.tag-index-item {
  margin: 20px 40px;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: flex-end;
}

.tag-index-text {
  border: 1px $lightest-grey solid;
  border-radius: 6px;
  padding: 2px 12px;
  display: inline-block;
  color: $darkest-grey;
  background-color: $background;
  font-family: $sans-serif;
  font-size: 14px;
}

.tag-index-tools {
  display: inline-block;
}

.tag-index-tools i {
  font-size: 17px;
  padding: 0 0 0 10px;
  color: $white;
}

.tag-index-text:hover {
  cursor: pointer;
  background-color: $green;
  color: $white;
  border-color: $green;
}

.tag-index-item:hover .tag-index-tools i {
  color: $dark-grey;
}

.tag-index-item:hover .fa:hover {
  cursor: pointer;
  color: $green;
}
